* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: #000;
}

p {
  margin: 0 15px 15px;
}

span {
  font-size: 15px;
}
.contenu p {
  text-align: center;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.contenu span {
  font-weight: bold;
}

.pricing-table {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.price {
  text-align: center;
}

.col {
  display: flex;
  flex: 50%;
  padding: 10px;
  box-sizing: border-box;
  transition: 0.7s linear;
  color: #2c3e50;
}

.col1{
  width: 98%;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 1%;
}

.table:hover {
  background: rgb(165, 165, 165);
  color: rgb(248, 248, 248);
}

.table {
  margin: 2px;
  padding: 20px 20px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px #a9a9a9;
}
.table h3 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #303036;
  margin-top: 20px;
  margin-bottom: 0;
}
.table p {
  margin: 0 0 15px;
  padding: 10px 0 20px;
  font-size: 15px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}
.table p span {
  font-size: 15px;
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
}
.table ul {
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  margin-left: 0;
}

.table ul li {
  list-style: none;
  padding: 10px 0;
  text-align: center;
}

.forfait{
  color: #000;
}

.forfait ul li {
  color: #000;
}
.forfait li strong {
  text-transform: uppercase;
}


@media screen and (min-width: 961px) {
  .table {
    margin: 2px;
    height: auto;
  }

  .pricing-table {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .table:hover {
    background: rgb(165, 165, 165);
    color: rgb(248, 248, 248);
  }
  
  .table {
    margin: 2px;
    padding: 20px 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px #a9a9a9;
    
  }
  .col {
    flex: 25%;
  }
}
