body {
  background-color: #f7fafc;
}

/* ************************** text intro **************************** */

.main-container-contact {
  display: flex;
  flex-direction: column;
  margin: 1em auto;
}

.container-info {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.title-contact {
  text-transform: uppercase;
  font-size: 1.9em;
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin: 1.7em 0;
  color: #43446b;
}

.explications-contact {
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.8;
  color: #6b7c93;
}

.line-decoration {
  border-bottom: 4px solid #43446b;
}

.timing {
  background: #fdf0eb;
  font-weight: 500;
}

/* ************************** form section **************************** */

.form-section {
  margin-top: 1em;
  height: 0;
}

.container-lg {
  display: flex;
  justify-content: center;
  margin: 0 4em;
}

.form-column {
  width: 680px;
}

.form-container {
  padding: 1em;
}

form {
  background-color: #f7fafc;
}

fieldset {
  padding: 2em;
  border-style: none;
}

/* ************************** firstname **************************** */

.form-row_text_firstname {
  display: flex;
  border-bottom: none;
  max-width: 700px;
}

.firstname {
  font-size: 1.1em;
  font-weight: 600;
  width: 70%;
  display: flex;
  align-items: center;
}

#firstname {
  width: 100%;
  height: 4em;
  border: none;
  border-radius: 0.4em;
  background-color: #e0e0e0;
}

#firstname::placeholder {
  font-size: 1.3em;
  padding: 1em;
  color: #71717e;
  font-weight: 300;
}

/* ************************** lastname **************************** */

.form-row_text_lastname {
  display: flex;
  border-bottom: none;
  max-width: 600px;
  margin-top: 1em;
}

.lastname {
  font-size: 1.1em;
  font-weight: 600;
  width: 70%;
  display: flex;
  align-items: center;
}

#lastname {
  width: 100%;
  height: 4em;
  border: none;
  border-radius: 0.4em;
  background-color: #e0e0e0;
}

#lastname::placeholder {
  font-size: 1.3em;
  padding: 1em;
  color: #71717e;
  font-weight: 300;
}

/* ************************** email **************************** */

.form-row_text_email {
  display: flex;
  border-bottom: none;
  max-width: 600px;
  margin-top: 1em;
}

.email {
  font-size: 1.1em;
  font-weight: 600;
  width: 70%;
  display: flex;
  align-items: center;
}

#email {
  width: 100%;
  height: 4em;
  border: none;
  border-radius: 0.4em;
  background-color: #e0e0e0;
}

#email::placeholder {
  font-size: 1.3em;
  padding: 1em;
  color: #71717e;
  font-weight: 300;
}

/* ************************** region **************************** */

.form-row_select_region {
  display: flex;
  border-bottom: none;
  max-width: 600px;
  margin-top: 1em;
}

.region {
  font-size: 1.1em;
  font-weight: 600;
  width: 70%;
  display: flex;
  align-items: center;
}

#region {
  width: 100%;
  height: 3em;
  background-color: #e0e0e0;
  border: none;
  font-size: 0.9em;
  padding: 0.8em;
  color: #71717e;
  font-weight: 300;
}

.select-wrapper {
  width: 100%;
}

/* ************************** price **************************** */

.form-row_select_price {
  display: flex;
  border-bottom: none;
  max-width: 600px;
  margin-top: 1em;
}

.price_contain-summary {
  width: 70%;
  font-size: 1.1em;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.select-wrapper {
  width: 100%;
}

#volume {
  width: 100%;
  height: 3em;
  background-color: #e0e0e0;
  border: none;
  font-size: 0.9em;
  padding: 0.8em;
  color: #71717e;
  font-weight: 300;
}

/* ************************** textarea **************************** */

.form-row_textarea {
  display: flex;
  border-bottom: none;
  max-width: 600px;
  margin-top: 1em;
  max-width: 600px;
}

.message-container {
  width: 70%;
  font-size: 1.1em;
  font-weight: 600;
  display: flex;
  align-items: center;
}

textarea {
  width: 100%;
  border: none;
  background-color: #e0e0e0;
  font-size: 0.8em;
  color: black;
  font-weight: 300;
  border-radius: 0.2em;
}

#message::placeholder {
  font-size: 1.3em;
  padding: 1em;
  color: #71717e;
  font-weight: 300;
}

/* ************************** submit button **************************** */

.submit {
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
}

.submit-btn {
  font-size: 1em;
  border: none;
  font-family: inherit;
  padding: 0.5em;
  border-radius: 3px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #5fbb9b;
  color: white;
}
.submit-btn:hover{
  background-color: #e61616;
}

/* ************************** Second column **************************** */

.secondary-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.headline-contact-photo {
  color: white;
  font-size: 1.4em;
  font-weight: 400;
}

.headline-contact-quality {
  color: white;
  font-size: 1.1em;
  font-weight: 400;
  margin-top: 1em;
}

.container-polygon {
  background: linear-gradient(to right, #43446b, #6b7c93);
  clip-path: polygon(0 57%, 100% 25%, 100% 100%, 0 100%);
  height: 50em;
  z-index: -300;
  margin-top: -12em;
}

/* ************************** css js part **************************** */

.content {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 30px;
  background: #fff;
  border: 1px solid #ddd;
}

.center {
  text-align: center;
}

button {
  padding: 10px 20px;
  background: #F76C6C;
  color: #fff;
  border: transparent;
  border-radius: 4px;
  font-size: 1.5rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}