body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: #000;
}

.container{
  color: #fff;
}

footer {
  background: linear-gradient(#696969, #A9A9A9);
  height: auto;
  padding: 20px 0;
  font-weight: bold;

}
footer a{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: stretch;
  margin: 1px;
  text-decoration: none;
  color: #000;
  font-size: 13px;
  letter-spacing: .1rem;
}
a .tel {
  align-items: center;
}

.footer-section .title {
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-weight: bold;
  font-size: 25px;
  color: #000;
  text-shadow: 0.1em 0.1em 0.15em #293133;
}
.footer-section .sous-title {
  text-transform: uppercase;
  font-size: 13px;
  color: #404040;
}

.mentions {
  margin-top: 5px;
  margin-bottom: 5px;
}

.tel{
  margin-top: 5px;
}


@media screen and (min-width: 961px) {
  footer {
    margin: 0;
    height: auto;
  }
  .footer-section {
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
    align-items: center;
    text-align: -webkit-center;
  }
  .container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
