body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #000;
}



footer {
  background: linear-gradient(#696969, #A9A9A9);
  height: auto;
  padding: 20px 0;
  font-weight: bold;

}
footer a{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: stretch;
  margin: 1px;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: .1rem;
}
.footer-section .title {
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-weight: bold;
  font-size: 25px;
  color: #000;
  text-shadow: 0.1em 0.1em 0.15em #293133;
}
.footer-section .sous-title {
  text-transform: uppercase;
  font-size: 15px;
  color: #404040;
}


@media screen and (min-width: 961px) {
  footer {
    margin: 2px;
    height: auto;
  }
  .footer-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
